vcs.xml
updates.xml
ui.lnf.xml
project.default.xml
other.xml
markdown.xml
jdk.table.xml
ide.general.xml
github.xml
filetypes.xml
editor.xml
editor.codeinsight.xml
diff.xml
debugger.xml
misc.xml
encodings.xml
Training-session.iml
modules.xml
vcs.xml
workspace.xml

venv
codestyles
.idea
README.md
_linux