{% extends "layout.html" %}

{% block heading %}
    BOOK PAGE
{% endblock %}

{% block body %}
    <ul>
        <li>Book Page: When users click on a book from the results of the search page, they should be taken to a book page, with details about the book: its title, author, publication year, ISBN number, and any reviews that users have left for the book on your website.</li>
        <li>Goodreads Review Data: On your book page, you should also display (if available) the average rating and number of ratings the work has received from Goodreads.</li>
        <li>Review Submission: On the book page, users should be able to submit a review: consisting of a rating on a scale of 1 to 5, as well as a text component to the review where the user can write their opinion about a book. Users should not be able to submit multiple reviews for the same book.</li>
        <li>Logout: Logged in users should be able to log out of the site.</li>
    </ul>

    <a href="{{ url_for('log') }}">LOG PAGE</a>
{% endblock %}
