{% extends "layout.html" %}

{% block heading %}
    MAIN
{% endblock %}

{% block body %}
    <ul>
        <li>Search: Once a user has logged in,
            they should be taken to a page where they can search for a book. Users should be able to type in the ISBN number of a book, the title of a book, or the author of a book. After performing the search, your website should display a list of possible matching results, or some sort of message if there were no matches. If the user typed in only part of a title, ISBN, or author name,
            your search page should find matches for those as well!</li>
        <li>Logout: Logged in users should be able to log out of the site.</li>
    </ul>


    <a href="{{ url_for('book') }}">BOOK</a>
    <a href="{{ url_for('index') }}">SIGN OUT</a>
{% endblock %}
