<!DOCTYPE html>
<html>
    <head>
        <title>Is it New Year?</title>
        <style>
            body {
                text-align: center;
                background: green;
            }
        </style>
    </head>
    <body>
        {% if today %}
            <h1>Yes! Today is Today!!!</h1>
        {% else %}
            <h1>NO</h1>
        {% endif %}
    <a href="{{ url_for('friday') }} " > Friday checker....</a>
        <p></p>
    <a href="{{ url_for('index') }} "> New Year checker ....</a>
    </body>
</html>
